[submodule "interval-tree"]
	path = interval-tree
	url = https://github.com/5cript/interval-tree.git
[submodule "generator"]
	path = generator
	url = https://github.com/TartanLlama/generator.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args.git
[submodule "itlib"]
	path = itlib
	url = https://github.com/iboB/itlib.git
[submodule "volk"]
	path = volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan-Docs"]
	path = Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "gl-matrix"]
	path = gl-matrix
	url = https://github.com/toji/gl-matrix.git
